.weiterEinkaufen{
    background-color: #3D93A6 !important;
    color: #FFFFFF !important;
    border-color: #3D93A6 !important;
    border-radius: 2.5em !important;
    width: 9.5em !important;
    height: 2.5em;
    transition: transform .1s;
}

.heartcolor{
    margin-top:0.5em;
    color: #3D93A6; !important;
}

.lieferung{
    margin-top: 0.5em;
}
/* CSS Bestellen*/
.borderCol {
    padding: 0;
}

.checkoutcradrechts{
    align-items: end;
    text-align: end;
}

.checkoutcard{
    border-radius: 0;
    margin-top: 0 !important;
}

.checkoutcardbild{
    border-radius: 0 !important;
}

.cardpicW {
    z-index: -1 !important;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 1em;
    width: 4em;
    border-radius: 0 !important;
    border-color: #707070;
}

.noPad {
    padding: 0;
}

.wbutton {
    background-color: #3D93A6 !important;
    color: #FFFFFF !important;
    border-color: #3D93A6 !important;
    border-radius: 2.5em !important;
    width: 6.5em;
    height: 2.5em;
    transition: transform .1s;
}

.pricePad {
    padding-top: 2em;
}

.padContent {
    padding-left: 1em;
}

#lieferangaben {
    border-width: 1em;
    border-color: #707070;
}

.abstandtop{
    margin-top: 2em;
}

.abstandtopbott{
    margin-bottom: 2em;
}

.weiterButtonBestellabschluss{
    background-color: #3D93A6 !important;
    color: #FFFFFF !important;
    border-color: #3D93A6 !important;
    border-radius: 2.5em !important;
    width: 11.5em !important;
    height: 2.5em;
    transition: transform .1s;
}

#firstCheckoutCard {
    margin-top: 0 !important;
}

.botPad {
    padding-bottom: 0.5em;
}
.topPad {
    padding-left: 0.7em;
    padding-top: 1em;
}
.gesamtpreis{
    font-family: "Bree Serif", serif;
    font-size: 2em;
}


.noPadleft {
    padding-left: 0;
    margin-left: 0;
}

.payMethodImg {
 width: 5em;

}

input:disabled, select:disabled {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    color: inherit !important;
}

.anredeDropdown {
    margin-left: -0.8rem;
}

.saveButton {
    margin-left: -0.6rem;
}

.cancelButton {
    background-color: #707070 !important;
    color: #FFFFFF !important;
    border-radius: 2.5em !important;
    width: 7.46em;
    height: 2em;
    transition: transform .1s;
}

.dropdownAnrede {
    color: #FFFFFF;
}

.anrede option {
    color: white;
}