.mehrLaden{
    margin-top: 2em;
    font-size: 2em;
    background-color: #3D93A6;
    border-radius: 2em;
    border:0;
}
.detailsection {
   padding-top: 12em;
}
#expresscheckout{
    align-items: center;
    text-align: center;
}
.ppicon{
    height: 1em;
    width: auto;
}