.mehrLaden{
    margin-top: 2em;
    font-size: 2em;
    background-color: #3D93A6;
    border-radius: 2em;
    border:0;
}
.detailsection {
   padding-top: 12em;
}

#ppbutton{
    height: 3em;
    width: 15em;
    border-radius: 1.5em !important;
}


#warenkorbdetail{
    height: 3em;
    width: 15em;
    border-radius: 1.5em !important;
}
#warenkobicon{
    color: #FFFFFF !important;
    padding-right: 1em;

}

#avilabilityIcon{
    color: #04AF26 !important;
}

.ppicon{
    height: 1.2em;
    width: auto;
    padding-right: 1em;
}

#ppbutton{
    color: #FFFFFF !important;
    background-color: #A37F5F !important;
}
.ppbuttonschrift{
    color: #FFFFFF !important;
    text-decoration: none;
    text-align: center;
}

.produktbillderklein img {
    height: 3em;
    margin-top: 1em;
    cursor: pointer;
    display: block;
    padding: 0.2em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}
.produktbillderklein img:hover {
    height: 3em;
    margin-top: 1em;
    cursor: pointer;
    display: block;
    padding: 0.2em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    scale: 1.1;
}
.farbauswahl{
    background-color: white !important;
    border-radius: 1em;
}
.farbauswahlchecked {
    background-color: white !important;
    border-color: #3D93A6!important;
    border-width: 0.15em;
    border-radius: 1em;
}
.farbauswahlchecked:hover{
    transform: scale(1.1);
}
.randfilter{
    padding-left: 3.5em;
}
.randbewertung{
    padding-left: 2em;
}
.sternfilter{
    width: 1em !important;
}