/*
    Fonts: Belleza, Bree Serif
 */
/* bree-serif-regular - latin */
/* bree-serif-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Bree Serif";
    font-style: normal;
    font-weight: 400;
    src: url('/Schriftarten/bree-serif-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* belleza-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Belleza';
    font-style: normal;
    font-weight: 400;
    src: url('../Schriftarten/belleza-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/*
Header
 */


.containerHeader{
    position: absolute;
    width: 100%;
}

.bree40 {
    font-family: "Bree Serif", serif;
    font-size: 2.5em;
    color: #FFFFFF;
    transition: font-size .1s ease-in-out ;
}

.bree20 {
    font-family: "Bree Serif", serif;
    font-size: 1.25em;
    color: #FFFFFF;
    transition: transform .1s;
}

.bree40:hover {
    font-size: 2.6em;

}

bree20:Hover {
    transform: scale(1.1);
}

.containerFooter {
    background-color: #A37F5F !important;
    height: 100px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.wIcon {
    color: #FFFFFF;
    scale: 2;
    transition: transform .1s;
}

.wIcon:hover {
    transform: scale(1.1);
}

.logo {
    margin-left: 1em;
    max-height: 8.125em
}

.grid{
    display: grid;
    align-items: center;

}

#spieleheader{
    text-align: end;
}

#bengel{
    align-items: center !important;
}

.footerRow {
    align-items: center;
}

.linksW {
    color: #FFFFFF;
    text-decoration: none;
}