/*
    Fonts: Belleza, Bree Serif
 */
/* bree-serif-regular - latin */
/* bree-serif-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/schriftarten/bree-serif-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* belleza-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Belleza';
    font-style: normal;
    font-weight: 400;
    src: url('/schriftarten/belleza-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Schriftgrößen für Buttons und Text*/
.button1 {
    font-size: 2.5em;
}

.button2 {
    font-size: 1.563em;
}

.font40 {
    font-size: 2em;
}

.font25 {
    font-size: 1.563em;
}

.font16 {
    font-size: 1em;
}

/*Button Farben*/
.bbutton {
    background-color: #3D93A6 !important;
    color: #FFFFFF !important;
    border-color: #3D93A6 !important;
    border-radius: 2.5em !important;
    width: 7.46em;
    height: 2em;
    transition: transform .1s;
}

.bbutton:hover {
    transform: scale(1.1);
}

.wicon {
    color: #FFFFFF !important;
}

.bicon {
    color: #3D93A6 !important;
}

/*
Header
 */

.header {
    background-color: #A37F5F !important;
    overflow: hidden;
}

.headerschrift {
    font-family: "Bree Serif", serif;
    font-size: 2.5em;
    color: #FFFFFF;
    transition: font-size 1s ease-out 100ms;
}

.headerschrift:hover {
    font-size: 2.7em;
}

.headline {
    font-family: "Bree Serif", serif;
    font-size: 4.688em;
}

* {
    font-family: "Belleza", serif;
    color: #707070 !important;
}

/* Startseite */
.searchbar {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 3.125em;
    z-index: -1 !important;
}

.round {
    border-radius: 50em !important;
    border-color: #707070 !important;
}

.lupe {
    position: relative;
    margin-left: -4em;
    margin-top: 1.4em;
    z-index: 1 !important;
    scale: 2;
}

.suche {
    margin-top: 2.188em;
}

.karussell {
    margin-top: 2.188em;
    margin-right: 1.25em;
    margin-left: 1.25em;
}

.startu {
    margin-top: 6.25em;
    margin-bottom: 2.5em;
}

.porg {
    margin-top: 1.375em;
    margin-bottom: 1.375em;
    width: 10em;
    height: 10em;
}

.hilforg {
    border-style: solid;
    border-bottom-color: #707070;
    border-top-color: #707070;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    margin-top: 4.375em;
}

.cardpick {
    margin-top: 1.7em;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
    width: 18em;
    border-radius: 0 !important;
    border-color: #707070;
}

.cardpk {
    margin: auto;
    width: 23em;
    height: 30em;
    border-color: #707070;
    border-radius: 2em;
}

.kcard {
    margin: auto !important;
}

.card {
    margin-top: 2em !important;
    box-shadow: 0.1em 0.3em 0.2em #707070;
    border-radius: 1em;
}

.availability {
    color: green !important;
    text-align: left !important;
    margin-top: 0.8em;
}

.cardpicp {
    z-index: -1 !important;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 15.5em;
    width: 15em;
    border-radius: 0 !important;
    border-color: #707070;
}

.cardfont {
    flex: 1;
    text-align: left;
    margin-left: 0.2em;
}

.cardbp {
    z-index: -2 !important;
    margin: auto;
    width: 18em;
    height: 25em;
    border-color: #707070;
    border-radius: 2em;
}

.cardword {
    display: flex !important;
}

.bbuttoncard {
    margin-left: 14em;
    margin-top: -0.7em;
    background-color: #FFFFFF !important;
    color: #FFFFFF !important;
    border-color: #707070 !important;
    border-radius: 2.5em !important;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: transform .1s;
    z-index: 2;
}

.bbuttoncard:hover {
    transform: scale(1.1);
}

.bookmarks {
    background-color: #FFFFFF !important;
    border-color: #707070 !important;
    border-radius: 2.5em !important;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 2 !important;
    margin-top: 1.2em;
    margin-left: 1em;
    margin-right: 8em;
    transition: transform .1s;
}

.bookmarks:hover {
    transform: scale(1.1);
}

.cardindex {
    z-index: 2 !important;
}
/* Verteilerseite*/
.pichead2{

    text-align: center;
    justify-content: center;
    display: flex;
    height: 15em;
    margin-bottom: 5em;
}
.pichead{
    height: 100%;
    width: 100%;
    margin: 2.688em  2.938em 2.75em;
}
.mehrladen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.plusbutton{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 12em;
}
.mela{
    display: inline-block;
    height: 3em;
    width: 8em;
    margin-top: 2em;
    text-align: center !important;
    vertical-align: middle !important;
    border-color: #707070 !important;
    font-family: "Belleza", serif;
}
.filter{
    flex: 1;
    margin-left: auto;

}
.filtercheck{
margin-left: 1.6em;
}
.filterop{
margin-left: 1em;

}
.pcard{
    align-content: flex-start;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box !important;
    margin-bottom: 2em;
}
.verteiler{
    display: flex;
}
.sortby{
    margin-left: 19em;
    background-color: #3D93A6 !important;
    color: #FFFFFF !important;
    border-color: #707070 !important;
    border-radius: 2.5em;
}
.checkfilter{
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.1em;
}
.pplus{
    background-color: #FFFFFF;
    border-color: #707070;
    border-radius: 2em;
    font-family: "Belleza", serif;
    transition: transform.1s;

}
.pplus:hover{
    transform: scale(1.1);
    border-color: #707070;
    border-radius: 2em;
}
.plus{
    color: #3D93A6 !important;
}
.ph{
    display: flex;
}
.phlinks{
    flex: 1;
}
.phrechts{
    margin-top: 2em;

    flex: 2;
}
.cardph{
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 12em;
    height: 16em;
    z-index: -1 !important;
}
#upload{
    display: none;
}
#uploaderw{
    display: none;
}
#uploaders{
    display: none;
}
.upload{
    z-index: 2 !important;
}
.ppicbutton{
    width: 8em;
    text-align: center !important;
    vertical-align: middle !important;
    margin-top: -2em;
    margin-bottom: 1em;
    background-color: #3D93A6 !important;
    color: #FFFFFF !important;
    border-color: #3D93A6 !important;
    border-radius: 2.5em !important;
    white-space: pre-line;
    z-index: 2 !important;
}
.preishin{
    text-align: center;
    height: 3em;
}
.pdetail{
    margin: auto;
}
.textfeldph{
    width: 34em;
    height: 5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.weiteref{
    margin-top: 0.2em;
    background-color: #FFFFFF;
    border-color: #707070;
}
.hinzufuegen{
    background-color: #3D93A6;
    border-radius: 2em;
    color: #FFFFFF !important;
    border-color: #3D93A6!important;
}
.addp{
    background-color: #3D93A6 !important;
    color: #FFFFFF !important;
    text-align: center !important;
    vertical-align: middle !important;
    border-radius: 2em;
    white-space: pre-line;
    width: 8em;
    height: 3em;
}
.cancelp{
    background-color: #707070 !important;
    color: #FFFFFF !important;
    text-align: center !important;
    vertical-align: middle !important;
    border-radius: 2em;
    white-space: pre-line;
    width: 8em;
    height: 3em;
    margin-bottom: 2em;
}
.borderaddp{
    margin: auto;
    border: solid;
    width: 70em;
}
.boxaddp{
    margin: auto;
    max-width: 70em;
    border: 0.1em solid;
    z-index: 4;
}
.addpp{
    display: flex;
    justify-content: center !important;
    align-items: center!important;
    margin-bottom: 2em;
    margin-top: 2em;
}